body{
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
h1, h2, h3, p{
    margin: 0;
}
.main{
    padding-top: 60px;
    padding-bottom: 60px;
}
.header{
    padding: 0;
    margin: 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    display: inline-block;
    margin-right: 76px;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
.header-logo span{
    color: #2e2f42;
}
.footer-container{
    display: flex;
    align-items: baseline;
}
.paragraph-soc{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.ul-soc{
    display: flex;
    gap: 16px;
}
.list-soc{
    width: 40px;
    height: 40px;
}
.link-soc{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-soc:hover,
.link-soc:focus{
    background-color: #31d0aa;
}
.div-logo{
    margin-right: 120px
}
.card-container{
    position: relative;
    overflow: hidden;
}
.list-header{
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    letter-spacing: 0.02em;
    position: relative;
    line-height: 1.5;
    font-weight: 500;
    color: #2e2f42;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-header::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    bottom: -1px;
    background-color: transparent;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-header.current::after{
    background-color: #404bbf;
}
.list-header.current{
    color: #404bbf;
}
.list-header:hover,
.list-header:focus{
    color: #404bbf;
}
.address{
    margin-left: auto;
    font-style: normal;
}
.address-info{
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #434455;

}
.address-info:hover,
.address-info:focus{
    color: #404bbf;
}
.main-section{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/img-name.jpg');
    max-width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-position: center;
    text-align: center;
}
.page-title{
    font-size: 56px;
    margin: auto;
    line-height: 1.1;
    max-width: 496px;
    letter-spacing: 0.02em;
    color:#ffffff;

}
.main-button{
    display: block;
    margin: auto;
    margin-top: 40px;
    height: 56px;
    border: none;
    min-width: 169px;
    color: #ffffff;
    background-color: #4D5AE5;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
    cursor: pointer;
}
.main-button:hover,
.main-button:focus{
    background-color: #404BBF;

}
.website-team{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.benefits-list{
    width: calc((100% - 72px) / 4);
}
.feature-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 8px;
    line-height: 24px;
    font-size: 20px;
}
.team-info{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.container-name .team-info{
    margin-bottom: 8px;
}
.team-section .team-info{
    text-align: center;
}
.our-team{
    background-color: #F4F4FD;
}
.title-teams{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.section-ntwo > .container{
    flex-direction: column;
    align-items: center;
}
.team-card {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.list-team{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
span.footer-span{
    color: #f4f4fd;
}
.banking-app{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.nav-header{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-list{
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-list li:last-child{
    margin right: 0;
}
img{
    display: block;
}
.section-tag{
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-section{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits{
    display: flex;
    gap: 24px;
    list-style: none;
}
.container-name{
    padding-top: 32px;
    padding-bottom: 32px;
}
.list-for-icon{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.list-icon{
    width: 40px;
    height: 40px;
}
.link-team{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-team:hover,
.link-team:focus{
    background-color: #404bbf;
}
.svg-social{
    fill: #f4f4fd;
}
.banner-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;       
}
.list-banner{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-banner:hover{
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list-banner:hover p{
    transform: translateY(0%)
}
.paragraph-div{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.paragraph-div:hover{
    transform: translateY(0%);
}
.container-list{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    position: relative;
    overflow: hidden;
}
.address-info{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-sprits{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    height: 112px;
    margin-bottom: 8px;
}
.svg-footer{
    fill: #f4f4fd;
}
.emial-label{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.paragraph-footer{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 264px;
    margin-bottom: 16px;
}
.foter-form{
    gap: 24px;
    display: flex;
}
.label-foter{
    gap: 24px;
}
.input-footer{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;

}
.input-footer::placeholder{
    color: #ffffff;
}
.button-footer{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.svg-button{
    margin-left: 16px;
}
.email-div{
    margin-left: auto;
}
.fix-window{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    
}
.fix-window.is-open{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.reg-window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.button-reg{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-reg:hover,
.button-reg:focus{
    border: none;
    background-color: #404bbf;
}
.vector{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-reg:hover .vector,
.button-reg:focus .vector {
    fill: #ffffff;
}
.paragraph-reg{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}
.info-window{
    margin-bottom: 8px;
}
.label-name{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.for-icon{
    position: relative;
}
.name-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
    outline: transparent;
}
.name-input:hover,
.name-input:focus{
    border-color: #4D5AE5;
}
.icon-hum{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name-input:focus + .icon-hum{
    fill: #4D5AE5;
}
.comment{
    margin-bottom: 16px;
}
.tarea-comment{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tarea-comment:focus{
    border-color: #4D5AE5;
}
.send-bottom{
    margin-bottom: 24px;
}
.user-bott{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.conditions{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 5px;
}
input:checked~label .conditions {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.bottom-send{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}
.privacy{
    color: #4d5ae5;
    
}